/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .inset-0-safe {
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .scrollbar-hide {
    -ms-overflow-style: none !important;

    scrollbar-width: none !important;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }
}

.todo-edit-input {
  border: none;
  background-color: transparent;
  outline: none;
}

.todo-edit-input:focus {
  outline: none !important;
}

.todo-edit-input:active {
  outline: none !important;
}
